
input[type="text"] {
    border: 2px solid #0D2419;
    outline: none;
    width: 25em;
}
.input__text {
    display: flex;
    flex-direction: column;
}
.input__text label {
    margin-left: 1em;
}
input[type="text"] {
    margin-top: 0.5em;
}
input[type="text"]:focus {
    border: 2px solid #0D2419;
}

 .error_text {
    color: #b93c0a;
    /* font-family: BrandonText; */
}